  main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */

  h3 {
    color: blue;
  }

  /* Task 2 */
  
  ol li:nth-child(3) {
    color: red;
  }

  ol li:nth-child(4) {
    color: red;
  }

  ol li:nth-child(5) {
    color: red;
  }

  /* Task 3 */

  img ~ img {
    border: 5px solid red;
  }
  
  /* Task 4 */
  
  a[href$="com"] {
    background: yellow;
  }

  /* Task 5 */
  
  ul li:nth-child(5) {
    color: blue;
  }

  /* Or we can do it this way: */

  #taskfive {
    color: blue;
  }

  /* Done with pleasure! :] */